
body {
	font: 1em/1.5 "Helvetica Neue", Arial, sans-serif;
	margin: 0;
	background-color:#e3e3e3;
}

header {
	background: #282444;
	height: 100px;
	padding: 20px 50px 0px;
}

h1 {
	font-size: 3.25em;
	display: inline;
	color: #e3e3e3;
}

p {
	margin: 5px;
}

a {
	text-decoration: none;
}

.main {
	padding: 0;
}

.button {
	display: inline;
	float: left;
	text-align: center;
	border-radius: 12px;
	box-shadow: 1px 1px 1px #364353;
	padding: 5px 5px;
	background-color: #e8edf3;
	cursor: pointer;
	clear: both;
	margin:1% 8%;
}

.profile {
	display: inline-block;
    float: left;
    background-color: white;
    height: 200px;
    width: 18%;
    margin: 2% 3%;
    border-radius: 5%;
    padding: 20px;
    box-shadow: inset -1px -1px 1px #364353;
}

.home_timeline, 
.user_timeline {
	background-color: white; 
	height: 100%;
	width: 45%;
	margin: 0 auto;
	border-radius: 12px;
}

.tweet-div {
	background-color: #e8edf3;
	margin: 10px 10px;
	padding: 2% 15%;
	text-align: left;
	border-radius: 12px;
	box-shadow: 1px 1px 2px #364353;
	cursor: pointer;

}

.profile-location {
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	display: inherit;
	background-color: #e8edf3; 
	border-radius: 5px;
}

.prof-img {
	margin: 10px auto;
    display: inherit;
    opacity: .75;
}

.username {
	font-weight: bold;
	font-size: 1.25em;
}

.tweet-div:hover,
.button:hover		 {
	background-color: #CFD4DA;
}
